@import "./styles/theme.scss";
@import "./styles/header.scss";
@import "./styles/hr.scss";
@import "./styles/menu.scss";

@font-face {
  font-family: "Iosevka Custom";
  src: url(font/iosevka-custom-regular.ttf);
}

@font-face {
  font-family: "Iosevka Custom Thin";
  src: url(font/iosevka-custom-thin.ttf);
}

@font-face {
  font-family: "Iosevka Custom Bold";
  src: url(font/iosevka-custom-bold.ttf);
}

$background: $gray-15;
$foreground: $gray-95;

body {
  background-color: $background;
  color: $foreground;
}