@import "./theme.scss";

div.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $gray-20;
  margin: 2px 0;

  a {
    display: inline-block;
    text-align: center;
    color: $gray-95;
    font-family: "Iosevka Custom", monospace;
    text-decoration: none;
    padding: 0 10px;

    &:hover:not(.current_page) {
      background-color: $gray-25;
    }

    &.current_page {
      font-family: "Iosevka Custom Bold", monospace;
      color: $yellow-60;
    }
  }
}